* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

input{
    border-radius: 5px;
    border: solid 1px lightgrey;
    padding: 10px;
    margin: 5px;
    width: 70px;
    font-size: large;
}

.my-style {
    border-radius: 5px;
    border: solid 1px lightgrey;
    padding: 10px;
    margin-top: 5px;
}

.submit-button {
    display: flex;
    max-width: 390px;
    background-color: lawngreen;
    font-size: large;
    border-radius: 5px;
    border: solid 1px lightgrey;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    margin: 5px;
}